:root {
    --color-background: #121212;
    --color-modal: 77 77 77; /* #4d4d4d */
    --color-surface: 18, 18, 18; /* #121212 */
    --color-error: 207, 102, 121; /* #cf6679 */
    --color-primary: 187, 134, 252; /* #bb86fc */
    --color-primary-variant: #3700b3;
    --color-secondary: #03dac5;
    --color-on-primary: #000000;
    --color-on-secondary: #000000;
    --color-on-background: #ffffff;
    --color-on-surface: 255, 255, 255;
    --color-on-error: #000000;
    
}

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    background: var(--color-background);
    color: var(--color-on-background);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
}

header {
    width: 100%;
    height: auto;
    /* height: 8.75rem; /* 140px */
    /* min-height: 5rem; /* 80px, matches button height */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul {
    list-style-type: none;
}

nav {
    width: 100%;
    display: flex;
    gap: 1rem;
}

button {

    flex: 1;

    border: none;

    /*width: 15rem; /* 240px */
    /*height: 5rem; /* 80px */
    
    padding: 1rem 2rem;
}

.container {
    width: 100%;
    max-width: 45rem; /* 1200px */

    margin: 0 auto;
    margin-bottom: 2rem;
}

main.container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
}

.page {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 2rem;
}

.hero {
    width: 600px;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

td {
    border: 1px solid white;
    padding: 1rem;
}

.home-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 32.5rem; /* 520px */
}

.menu-item-blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 2rem;
}